body {
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    font-family: 'Roboto', sans-serif;
}


/* accent #ffb80e  primary #982121 secondary #ff611d */


/* navigation styles */

ul {
    list-style: none;
}

nav {
    padding: 40px;
}

nav ul {
    min-height: 60px;
    margin: 0;
}

nav li {
    position: relative;
    margin: 10px 20px;
    padding: 10px 20px;
}

nav li:hover {
    background-color: #ffb80e;
    border-radius: 10px;
    color: white;
}


/* main section */

#image-back {
    background-image: url('../img/fast_food.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    height: 100vh;
    width: 100vw;
    transform: scaleX(-1);
}

#description {
    position: absolute;
    top: 50%;
    min-height: 40vh;
    transform: translateY(-50%);
    background: #ff611d;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    opacity: 0.95;
}

#description h3 {
    font-weight: 400;
}

#description h2 {
    font-weight: 600;
}

#description h1 {
    font-weight: bold;
    font-style: italic;
    font-size: 2em;
}


/* forms */

#all-forms {
    position: absolute;
    display: block;
    right: 0px;
    width: 0vw;
    height: 100vh;
    transition: 0.4s;
    margin: 2px 0px;
    /* transform: translateX(50px) */
}

form {
    /* min-height: 40vh; */
    padding: 20px 10px;
    margin: 10px;
    border: 1px solid #ffffff;
    border-radius: 8px;
}

.hide {
    display: none;
}

fieldset {
    border: none;
}

#close {
    top: 2px;
    left: 2px;
    z-index: 1;
    background: #982121;
}

.fields {
    width: 100%;
    display: flex;
    margin: 20px 5px;
}

.label {
    min-width: 20%;
    margin: 5px 2px;
}

input {
    padding: 3px 8px;
    border-radius: 8px;
    font-size: 1.4em;
    color: #1d1d1d;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    background: #fbf9f966;
    box-sizing: border-box;
}

#create_account,
#login_now {
    margin: 10px 2px;
}


/* orders style */

.order-item {
    min-width: 10%;
    min-height: 200px;
    border: 1px solid #ff611d;
    border-radius: 10px;
    padding: 8px;
    margin: 10px;
}

.order-image {
    background-image: url('../img/fast_food.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 100%;
    min-height: 150px;
}

.order-tittle {
    text-align: center;
    font-weight: 900;
    margin: 10px 5px;
}

.orders-shell {
    height: 85vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

@media screen and (max-width: 620px) {
    /* tablets width */
    body {}
    nav ul {
        flex-direction: column;
        align-self: center;
    }
    nav li {
        width: 100%;
        text-align: center;
    }
    #description {
        width: 100%;
    }
    .fields {
        flex-direction: column;
    }
    #all-forms {
        width: 80vw;
    }
}